* {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(242,242,242);
	border-top: 1px solid transparent;
}
header {
	position: fixed;
	z-index: 2;
	text-align: center;
	width: 100%;
	background: rgba(0,0,0,0.6);
	box-shadow: 0 0 30px #808080;
	padding: 5px 0;
}
.bigHeader img {
	width: 100px;
}
.bigHeader nav a {
	color: #CCCCCC;
	text-decoration: none;
	font-size: 13px;
	margin: 3px 50px;
}
nav a:hover {
	color: #E0E0E0;
}
.smallHeader {
	display: none;
}
.content {
	margin: 100px auto;
	width: 70%;	
	
}
.swiper {
	position: relative;
}
.slider {
	height: 550px;
	background: url(../img/58be34c01321d.jpg);
	background-size: 100% 100%;
	background-position: 50% 50%;
	transition: 1s;
}
.leftBtn,.rightBtn {
	position: absolute;
	top: 45%;
	cursor: pointer;
}
.leftBtn {
	left: 1%;
}
.rightBtn {
	right: 1%;
}
.slider p {
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 30px;
	text-align: center;
	padding: 3px 0;
	color: #CCCCCC;
	font-size: 14px;
}
.paginations {
	text-align: center;
	margin: 10px 0;
}
.paginations span {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	border: 1px solid transparent;
	background: #808080;
	display: inline-block;
	margin: 0 10px;
}
.paginations span:hover {
	cursor: pointer;
	background: #EEEEEE;
	border: 1px solid #000;
}
.introduce {
	border-top: 2px solid rgb(220,220,220);
	border-bottom: 2px solid rgb(220,220,220);
	padding: 20px 30px;
	color: #808080;
	font-size: 14px;
	text-indent: 36px;
}
.adv {
	text-align: center;
}
.adv img {
	width: 4%;
	margin: 2% 0.5%;
}
.waterFlow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	font-size: 14px;
}
.item {
	width: 30%;
	margin: 10px 0;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	transition: 1s;
}
.item>img {
	width: 100%;
	display: block;
}
.item>p {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	padding: 3px 0;
}
.mask {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 13px;
	color: #BCBCBC;
	background: rgba(0,0,0,0.6);
	transition: 1s;
	opacity: 0;
}
.mask h3 {
	margin: 35px 0 10px;
}
.item:hover .mask {
	opacity: 1;
}
footer {
	display: flex;
	justify-content: center;
	background: #E0E0E0;
	padding: 20px 0;
	color: #666666;
}
.footer_left,.footer_right {
	width: 50%;
}
.footer_left a {
	text-decoration: none;
}
.footer_left img {
	width: 30px;
}
.footer_left {
	text-align: right;
	padding-right: 15px;
	border-right: 2px solid #BCBCBC;
}
.footer_right img {
	width: 133px;
}
.footer_right {
	padding-left: 15px;
	font-size: 14px;
}
@media only screen and (max-width: 640px) {
	.bigHeader {
		display: none;
	}
	.smallHeader {
		display: block;
		
	}
	.content {
		width: 98%;
	}
	.item {
		width: 80%;
		justify-content: space-around;
	}
}
@media only screen and (min-width: 640px) and (max-width: 980px) {
	.bigHeader nav a {
		margin: 0 25px;
		font-size: 10px;
	}
	.slider {
		height: 400px;
	}
	.leftBtn,.rightBtn {
		position: absolute;
		top: 40%;
	}
	.content {
		width: 90%;
	}
	.item {
		width: 45%;
	}
}




























