ul{
    list-style: none;
}        
#container{
    position: relative;
    width: 100%;
    height: 255px;
    margin-bottom: 34px;
    border-radius: 7px;
    overflow: hidden;/*隐藏溢出的图片*/
}
#container .pic{
    width: 1798.08px;/*3张图的宽度*/
    height: 100%;
    position: absolute;/*基于父容器进行定位*/
    left:0;
    /*animation-name: focusmap;*/
    animation: focusmap 12s infinite;
    transition: 2s;
    /*animation-iteration-count: infinite;*/   /*动画调用可以简写*/
}
#container .pic li{
	width: 599.36px;
	height: 100%;
    float: left;
    padding: 0;
    background: #5dd94e;
}

#container .pic li img {
    width: 100%;
    height: 255px;
}
@keyframes focusmap {
    0%,30%{
        left: 0;
    }
    35%,65%{
        left: -599.36px;
    }
    70%,99%{
        left: -1198.72px;
    }
    100%{
        left: -1798.08px;
    }
}
@media only screen and (max-width: 1360px) {
	#container .pic {
		width: 2035.08px;
	}
	#container .pic li {
		width: 678.36px;
	}
	@keyframes focusmap {
		0%,30%{
    	    left: 0;
	    }
	    35%,65%{
	        left: -678.36px;
	    }
	    70%,99%{
	        left: -1356.72px;
	    }
	    100%{
	        left: -2035.08px;
	    }
	}
}
@media only screen and (max-width: 1000px) {
	#container .pic {
		width: 1878px;
	}
	#container .pic li {
		width: 626px;
	}
	@keyframes focusmap {
		0%,30%{
    	    left: 0;
	    }
	    35%,65%{
	        left: -626px;
	    }
	    70%,99%{
	        left: -1252px;
	    }
	    100%{
	        left: -1878px;
	    }
	}
}