* {
	margin: 0;
	padding: 0;
}
button {
	outline: none;
}
header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	z-index: 10;
}
.width-limit div {
	display: inline-block;
	line-height: 60px;
}
.width-limit-left {
	display: flex;
}
.width-limit-left .fa {
	display: none;
}
.width-limit a {
	text-decoration: none;
	cursor: pointer;
}
.width-limit .logo img {
	width: 100px;
	height: 56px;
	margin-left: 140px;
	transition: 1s;
}
.width-limit-content {
	width: 35%;
	position: absolute;
	left: 19%;
	font-size: 17px;
	color: #000;
	transition: 1s;
}
.width-limit .width-limit-smallContent {
	display: none;
}
.width-limit-content span {
	margin: 0 2%;
	position: relative;
}
.width-limit-content span input {
	width: 40%;
	height: 36px;
	border-radius: 20px;
	font-size: 15px;
	padding-left: 20px;
	background: #EEEEEE;
	border: none;
	outline: none;
	
}
.width-limit-content span:nth-child(3) a {
	position: absolute;
	left: 85%;
	top: 17%;
}
.width-limit-content span:nth-child(1) a {
	color: red;
}
.width-limit-content span:nth-child(2):hover {
	padding: 10px 0;
	background: #EEEEEE;
}

.width-limit-right {
	width: 30%;
	float: right;
	text-align: right;
	margin-right: 150px;
	transition: 1s;	
}
.width-limit-right a {
	margin: 0 4%;
	color: #ccc;
}
.width-limit-right a button {
	height: 36px;
	width: 75px;
	border-radius: 25px;
	border: 1px solid red;
}
.width-limit-right a:nth-child(3) button {
	color: red;
	background: #FFFFFF;
}
.width-limit-right a:nth-child(3) button:hover {
	cursor: pointer;
	background-color: antiquewhite;
}
.width-limit-right a:nth-child(4) button {
	width: 100px;
	color: #EEEEEE;
	background: red;
	cursor: pointer;
}
@media only screen and (min-width: 1000px) and (max-width: 1360px) {
	.width-limit .logo img {
    	margin-left: 105px;
	}
	.width-limit-right {
    	width: 30%;
    }
    .width-limit-right a {
	    margin: 0 2%;
	}
}
@media only screen and (max-width: 1000px) {
	.width-limit div {
		width: 100%;
		text-align: center;
	}
	.width-limit .logo img {
		margin: 0;
	}	
	.width-limit .width-limit-content {
		display: none;
	}
	.width-limit .width-limit-right {
		display: none;
	}
	.width-limit .width-limit-smallContent {
		display: block;
	}
	.width-limit-smallContent .btn {
		display: block;
		cursor: pointer;
		width: 35px;
		height: 35px;
		border: 1px solid #AAAAAA;
		border-radius: 5px;
		line-height: 35px;
		font-size: 18px;
		box-shadow: 0 0 5px #AAAAAA inset;
		position: absolute;
		left: 15px;
		top: 13px;
	}
	.width-limit-smallContent nav {
		width: 100vw;
		height: 0;
		overflow: hidden;
		background-color: #FFFFFF;
		box-shadow: 0 0 10px #BBBBBB inset;
		border-radius: 0 0 5px 5px;
		position: absolute;
		top: 47px;
		left: -16px;
		transition: 1.5s;
	}
	.btn:hover nav {
		height: 270px;
		transition: 1s;
	}
	.width-limit-smallContent li {
		height: 40px;
		margin-top: 20px;
		line-height: 20px;
		list-style: none;
		padding-bottom: 4px;
		border-bottom: 1px solid #DDDDDD;
	}
	.width-limit-smallContent nav ul li .first {
		color: #FF0000;
	}
	.width-limit-smallContent input {
		width: 90%;
		height: 36px;
		border-radius: 20px;
		font-size: 15px;
		padding-left: 20px;
		background: #EEEEEE;
		border: none;
		outline: none;
	}
	.width-limit-smallContent li:first-child a {
		position: absolute;
		right: 48px;
		top: 29px;
	}
	.width-limit-smallRight a {
		margin: 0 4%;
		color: #ccc;
	}
	.width-limit-smallRight a button {
		height: 36px;
		width: 75px;
		border-radius: 25px;
		border: 1px solid red;
	}
	.width-limit-smallRight a:nth-child(3) button {
		color: red;
		background: #FFFFFF;
	}
	.width-limit-smallRight a:nth-child(3) button:hover {
		cursor: pointer;
		background-color: antiquewhite;
	}
	.width-limit-smallRight a:nth-child(4) button {
		width: 100px;
		color: #EEEEEE;
		background: red;
		cursor: pointer;
	}
}
@media only screen and (max-width: 670px) {
	header {
		width: 660px;
	}
}