.header {
	width: 100%;
	margin-top: 61px;
	overflow: hidden;
	display: flex;
	background: #ADE1D9;
}
.banner {
	flex-basis: 950px;
	margin: 25px auto;
}
.banner>.logo,.title {
	float: left;
}
.banner .logo {
	width: 48px;
	height: 46px;
}
.banner .title .logo-font {
	width: 129px;
	height: 29px;
}
.banner .title {
	margin: 8px 0 0 20px;
}
.banner .title>.logo-font,span {
	vertical-align: middle;
}
.help {
	float: right;
	margin: 14px 10px 0 0;
	text-decoration: none;
}
.banner span,a {
	color: #41867A;
}
.container {
	width: 66%;
	margin: 15px auto;
	overflow: hidden;
	transition: 1s;
}
.aside,.main {
	width: 16%;	
	padding-left: 15px;
	float: left;
}
.aside .category:first-child {
	padding-top: 40px;
}
.aside .category {
	padding-top: 55px;
}
.aside .category a {
	text-decoration: none;
}
.aside .category .title {
	width: 100%;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #333333;
}
.aside .category .navigation a {
	display: block;
	padding: 12px 8px;
	font-size: 15px;
	color: #41867A;
	border-top: 1px solid #F0F0F0;
}
.aside .category .question {
	padding: 12px 0;
	border-top: 1px solid #F0F0F0;
}
.aside .category .sub-title {
	display: block;
	font-size: 14px;
	color: #333333;
}
.aside .category .intros {
	margin-top: 4px;
	font-size: 12px;
	color: #999999;
	cursor: pointer;
}
.aside .category .question a {
	font-size: 14px;
	color: #41867A;
}
.aside .category .content {
	padding: 12px 0;
	font-size: 14px;
	color: #333333;
	border-top: 1px solid #F0F0F0;
}
.aside .category .weibo .content {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
}
.aside .category .weibo .content .intros {
	margin-left: 20px;
}
.aside .category .jianshu {
	position: relative;
	padding: 12px 0;
	border-top: 1px solid #F0F0F0;
	font-size: 0;
}
.aside .category .jianshu img {
	width: 17px;
}
.aside .category .jianshu .content {
	position: absolute;
	top: 0;
	left: 23px;
	clear: both;
}
.container .main {
	padding-left: 0;
	margin-left: 20px;
	width: 79.5%;
	padding-left: 6px;
}
.recommended-users {
	position: relative;
	clear: both;
	padding-top: 40px;
}
.recommended-users .title {
	width: 100%;
	margin: 0 0 20px 0;
	padding-left: 10px;
	border-left: 4px solid #70B6AB;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	color: #333333;
}
.recommended-users .title a {
	float: right;
	margin-right: 67px;
	font-size: 14px;
	font-weight: normal;
	color: #41867A;
	text-decoration: none;
}
.recommended-users .user {
	position: relative;
	margin: 0 10px 10px 0;
	padding: 20px 15px;
	float: left;
	width: 43%;
	height: 158px;
	border: 1px solid #F0F0F0;
	border-radius: 4px;
	cursor: pointer;
}
.recommended-users .user:hover {
	margin: -2px 10px 12px 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
.recommended-users .user img {
	float: left;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	border: 1px solid #F0F0F0;
}
.recommended-users .user .user-info {
	margin-left: 80px;
}
.recommended-users .user .user-info .name {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
.recommended-users .user .user-info div:nth-child(2) {
	margin-top: 5px;
	height: 36px;
	font-size: 14px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}.recommended-users .user .user-info .text {
	display: block;
	margin: 7px 0;
	font-size: 14px;
	color: #999999;
}
.recommended-users .user .user-info .latest-article {
	display: block;
	font-size: 14px;
	color: #999999;
}
.user-info a {
	text-decoration: none;
}
.recommended-users .user .user-info .link {
	position: absolute;
	bottom: 15px;
	font-size: 14px;
	color: #41867A;
}
.container .main .category {
	position: relative;
	clear: both;
	padding-top: 40px;
}
.container .main .category .title {
	width: 100%;
	margin: 0 0 20px;
	padding-left: 10px;
	border-left: 4px solid #70b6ab;
	font-weight: 700;
	line-height: 1;
	color: #333333;
}
.category .title>a {
	float: right;
	margin-right: 90px;
	text-decoration: none;
}
.main .category .book {
	padding: 20px 15px;
	width: 45%;
	border: 1px solid #000000;
	position: relative;
	margin: 0 10px 10px 0;
	padding: 7px 7px 15px;
	float: left;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	transition: .2s;
	text-decoration: none;
}
.main .category .book:hover {
	margin: -2px 10px 12px 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
.main .category .book .cover {
	float: left;
	margin-right: 18px;
	width: 125px;
	min-height: 168px;
	border: none;
}
.category .book .cover img {
	width: 100%;
}
.category .name {
	margin-top: 10px;
	height: 44px;
	font-size: 16px;
	font-weight: 700;
	color: #333333;
}
.category .author,.intors {
	margin-top: 5px;
	font-size: 14px;
	color: #999999;
}
.category .price {
	margin-top: 20px;
	font-size: 14px;
	color: #333333;
}
.main .category:nth-child(7) .book {
	width: 16%;
	height: 260px;
}
.main .category:nth-child(7) .book .cover {
	width: 100%;
}
.main .category:nth-child(7) .book .author {
	position: absolute;
	top: 232px;
}
.main .category:nth-child(7) .book .price {
	position: absolute;
	top: 234px;
}
footer {
	margin-top: 30px;
	background: #F5F5F5;
}
footer 	.footer-adv {
	width: 75%;
	padding-top: 50px;
	padding-bottom: 0;
	margin: 0 auto;
}
.footer-adv img {
	width: 240px;
	height: 30px;
	margin-bottom: 20px;
}
footer>div {
	text-align: center;
	font-size: 14px;
	color: #999999;
	padding-bottom: 30px;
}
@media only screen and (min-width: 1000px) and (max-width: 1359px) {
	.container {
		width: 80%;
	}
}
@media only screen and (min-width: 1220px) and (max-width: 1280px) {
	.container {
		width: 86%;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1225px) {
	.container {
		width: 103%;
	}
	.main .category:nth-child(7) .book {
    
    	height: 284px;
	}
	.main .category:nth-child(7) .book .author {
    	
    	top: 256px;
	}
	.main .category:nth-child(7) .book .price {
    	
    	top: 258px;
	}
}

@media only screen and (max-width: 1005px) {
	.container {
		width: 92%;
	}
	.container .main {
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.main .category:nth-child(7) .book {
    
    	height: 290px;
	}
	.main .category:nth-child(7) .book .author {
    
    	top: 260px;
	}
	.main .category:nth-child(7) .book .price {
    
    	top: 264px;
	}
	.container .aside {
		display: none;
	}
	.container .aside {
		display: block;
		position: fixed;
		top: 18.9%;
		left: 0;
		z-index: 1;
		padding: 15px;
		background: rgba(0,0,0,.8);
		border-radius: 0 5px 5px 0;
		opacity: 0;
		transition: 2s;
		transform: translateX(-111px);
	}
	.aside .category:first-child {
		padding-top: 10px;
	}
	.aside .category {
		padding-top: 5px;
	}
	.aside .category .title {
		color: #EEEEEE;
	}
	.container .aside:hover {
		opacity: 1;
		transition: 1s;
		transform: translateX(-1px);
	}
	.category1 {
		display: none;
	}
	.footer-adv {
		width: 100%;
	}
}
@media only screen and (max-width: 700px) {
	.recommended-users .user {
		width: 88%;
	}
	.recommended-users .user .user-info {
		margin-left: 100px;
	}
	.main .category:nth-child(7) .book {
		width: 135px;
	}
}
@media only screen and (max-width: 620px) {
	.header {
		width: 615px;
	}
	.banner {
		padding: 0 50px 0 15px;
	}
	.container {
		width: 580px;
	}
	.main .category .book {
		width: 91%;
	}
	.main .category:nth-child(7) .book {
		width: 157px;
	}
	.main .category:nth-child(7) .book .author {
		
		top: 257px;
	}
	.main .category:nth-child(7) .book .price {
		
		top: 260px;
	}
	footer {
		width: 620px;
	}
}
























