.content {
	width: 66%;
	margin: 70px auto;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	transition: 1s;
}
.content p {
	width: 100%;
	padding-left: 10px;
	font-size: 12px;
	color: #999;
}
.content .box {
	flex-basis: 158px;
	margin: 5px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	transition: 1s;
	border: 1px solid #eee;
}
.content .box:nth-child(n) .book {
	width: 158px;
	height: 200px;
	background: url(../img/3128a374-9ec8-4155-a61e-6f1a368bb9e2.webp);
	background-size: 100% 100%;
}
.content .box .book {
	width: 158px;
	height: 200px;
	background-size: 100% 100%;
}
.content .box:nth-child(2n) .book {
	background: url(../img/0459ee7c-5a8d-4851-8926-408a62c9bb2a.webp);
}
.content .box mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 18px;
	font-size: 13px;
	color: #EEEEEE;
	background-color: #e2b882;
}
.content .box h4,.name,p {
	margin: 3px;
}
.content .box h4 {
	font-size: 15.5px;
}
.content .box .name img {
	width: 15px;
	border-radius: 100%;
}
.content .box .name span {
	font-size: 12px;
	color: #999;
}
.name img,span {
	vertical-align: middle;
}
.content .box p {
	font-size: 11px;
	color: #999;
}
@media only screen and (min-width: 1045px) and (max-width: 1180px) {
	.content {
		width: 80%;
	}
}
@media only screen and (max-width: 850px) {
	.content {
		width: 626px;
	}
}