/*选择器*/
/*标签选择器*/
a:link{ color: red; text-decoration: none;  }
a:visited{ color: blue; }
a:hover{ color: yellow; }
a:active{ text-decoration: underline; color: black; }
/*
文本下划线样式设置
text-decoration: overline;上划线
text-decoration: underline;下划线
text-decoration: line-through;中线
text-decoration: none;去掉
*/
/*
a标签伪类
：link  未被访问状态
：visited   被访问过后的状态
：hover   鼠标悬浮
：active   正在被点击
*/
.t:hover{ color: red; text-decoration: underline; cursor: pointer;/*cursor改变鼠标样式*/ }
/*
伪类:hover 为标签设置鼠标悬浮情况下的样式（适用于所有标签）
*/










