/*外部的粗框*/
.wrap{ width: 200px; border: 10px solid grey; padding: 10px; }
/*内部的细框*/
/*当一个block元素没有设置宽度时，它默认继承其父级标签的宽度。
父级cunter的宽=子conter+子pandding（左右）+子border（左右）*/
.center{ border: 1px solid grey; padding: 10PX 20PX; }
.center>div{ margin: 10px 0px; }
/*顺序符号*/
/*第一种span字体居中*/
.point{ width: 20px; height: 20px; background: red; display: inline-block; text-align: center; line-height: 20px; color: #fff;margin-right: 10px; }
.box{ background: grey; }
/*.point{ /*inline标签左右margin和padding可以生效。*//*display: inline-block; background: red; color: #fff; padding: 5px; }*/*/
